.feed {
    background: linear-gradient(to right, rgba(255, 204, 128, 0.29), rgba(137, 154, 240, 0.27));
    min-height: 100vh;
}

.user-profile-picture {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.user-profile-picture-default {
    font-size: 35px;
    display: flex;
}