.friendsCard{
    max-height: calc(100vh - 100px);
    position: sticky;
    overflow-y: auto;
    top: 160px;
}

.friendName{
    max-width: 140px;
}

.friendCity{
    font-size: 11px;
}

.friendOnline{
    width: 8px;
    height: 8px;
}