.option-btn {
    transition: all 0.2s ease;
}

.rowGap {
    row-gap: 20px;
}

.option-card {
    max-height: calc(100vh - 100px);
    position: sticky;
    overflow-y: auto;
}

.text-profile {
    color: rgb(154, 148, 223);
}